:root {
  --bg-color: ;
}

.BaseDivServices {
  padding: 3rem 5rem;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-radius: 20px 20px 0px 0px;
  background: #171836;
}

.BaseDivServices .titleSer {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
  gap: 1rem;
}

.BaseDivServices .titleSer h3 {
  color: #fff;
  text-align: right;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.BaseDivServices .titleSer p {
  color: #fff;
  text-align: right;
  font-family: Cairo;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.BaseDivServices .contentSer {
  width: 100%;
  height: 100%;
}

.BaseDivServices .contentSer {
  width: 100%;
  height: 100%;
}

.BaseDivServicesCart {
  width: 330px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 3rem 2rem;
  background: #ffffff;
  border-radius: 1rem;
  gap: 3rem;
  color: #000000;
}

.BaseDivServicesCart h3 {
  color: #000;
  text-align: center;
  font-family: Cairo;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.BaseDivServicesCart p {
  color: #000;
  text-align: center;
  font-family: Cairo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.BaseDivServices .contentSer .swiper {
  width: 100%;
  height: 100%;
  padding: 0 0.2rem;
}

.BaseDivServices .contentSer .swiper .swiper_slide {
  width: max-content;
  height: max-content;
}

@media screen and (max-width: 961px) {
  .BaseDivServices {
    padding: 3rem 2rem;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border-radius: 20px 20px 0px 0px;
    background: #171836;
  }
  .BaseDivServices .titleSer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .BaseDivServices .titleSer h3 {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .BaseDivServices .titleSer p {
    color: #fff;
    text-align: center;
    font-family: Cairo;
    font-size: 17px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
  }

  .BaseDivServicesCart {
    width: 270px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 3rem 2rem;
    background: #ffffff;
    border-radius: 1rem;
    gap: 2rem;
    color: #000000;
  }
}
