:root {
  --brown-input-field: #9d9d9d;
}

.baseDivTeam {
  padding: 3rem 5rem;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: white;
}

.baseDivTeam h1 {
  color: #000;
  text-align: right;
  font-family: Cairo;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.baseDivTeam .cateButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.baseDivTeam .cateButton button {
  width: max-content;
  padding: 8px 35px;
  border-radius: 10px;
  color: var(--brown-input-field);
  font-family: Cairo;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 25px;
  background: transparent;
  border: 1px solid red;
  cursor: pointer;
  transition: all ease 0.3s;
}

.baseDivTeam .cateButton button:hover {
  border-color: transparent;
  background: red;
  color: #fff;
}

.baseDivTeam .cateButton .selected {
  border-color: transparent;
  background: red;
  color: #fff;
}

.baseDivTeam .contentTeam {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background: transparent;
}

.BaseDivCartTeam {
  width: 340px;
  height: max-content;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.18);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.BaseDivCartTeam .imageCart {
  width: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BaseDivCartTeam .imageCart img {
  width: max-content;
}

.BaseDivCartTeam .textCartTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.BaseDivCartTeam h2 {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.BaseDivCartTeam h5 {
  color: #adb1b8;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.BaseDivCartTeam .linksDiv {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 35px;
}

@media screen and (max-width: 961px) {
  .baseDivTeam h1 {
    color: #000;
    font-family: Cairo;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  .BaseDivCartTeam {
    width: 310px;
    height: max-content;
    flex-shrink: 0;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.18);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
}
