.BaseDivFooter {
  width: 100%;
  height: 449px;
  flex-shrink: 0;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.BaseDivFooter .contentFooter {
  width: 100%;
  height: 90%;
  padding: 3rem 5rem;
}
.BaseDivFooter .underFooter {
  width: 100%;
  height: 10%;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 0.5px;
  opacity: 0.20000000298023224;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.BaseDivFooter .underFooter p {
  color: #b6b6b6;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}
